@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Создают "стакан" и "липкий" футер */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  height: 100%;
}

/* Задает ширину и центрирует body, main, footer */

.page-container {
  display: flex;
  width: 1200px;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Прижимает footer вниз страницы  внезависимости от размера контента внутри секции main */

.main-container {
  flex-grow: 1;
}

/* Стили кнопок */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  min-width: 140px;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  border: 0;
  padding: 8px 34px;
}

.navigation-button {
  border: 0;
  padding: 0;
  width: 44px;
  height: 64px;
  background-color: #FFFFFF;
  background: url("../images/icon-search.svg") center no-repeat;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 375px;
  max-width: 590px;
  padding: 8px 50px;
}

.apply-button {
  background-color: #82B3D3;
  padding: 8px 50px;

}

.reset-button {
  background-color: transparent;
  padding: 8px 58px;
}

.more-button {
  text-decoration: none;
  padding: 8px 26px;
}

.favorites-button {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.favorites-added-button {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  max-width: 240px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* Главная */

.page-header {
  display: flex;
  padding: 0 70px;
}

.header-logo {
  display: block;
  z-index: 1;
  margin-bottom: -6px;
  margin-right: 28px;
}

.logo-image {
  display: block;
}

.navigation {
  display: flex;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 540px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  max-width: 352px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  display: block;
  width: 44px;
  height: 64px;
  background: url("../images/icon-favorites.svg") center no-repeat;
}

.item-indent {
  margin-right: 20px;
}

.hero {
  min-height: 485px;
  padding-top: 51px;
  background: url("../images/hero-background-divider.svg") center bottom no-repeat, url("../images/hero-background.jpg") center no-repeat;
  background-size: 100% auto, cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #000000;
  text-align: center;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages {
  padding-top: 69px;
}

.advantages-content-wrapper {
  max-width: 651px;
  margin: auto;
  margin-bottom: 90px;
}

.advantages .section-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-modified {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.content-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 50px 82px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 60px;
}

.advantages-item-subtitle {
  margin: 0;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-modified {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-modified .advantages-item-title {
  color: #FFFFFF;
}

.features {
  padding-top: 64px;
}

.features-content-wrapper {
  max-width: 505px;
  margin: auto;
  margin-bottom: 64px;
}

.features .section-title {
  margin-bottom: 20px;
}

.features-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.features-item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px;
}

.features-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search {
  display: flex;
  padding: 50px 304px;
  min-height: 406px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search .section-title {
  margin-bottom: 20px;
}

.search .section-subtitle {
  margin-bottom: 54px;
}

.subscription {
  min-height: 415px;
  padding: 96px 258px 104px;
  text-align: center;
}

.subscription .section-title {
  margin-bottom: 20px;
}

.subscription .section-subtitle {
  margin-bottom: 54px;
}

.subscription-modified {
  background: url("../images/subscribe-background.jpg") center no-repeat;
  background-size: cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #FFFFFF;
}

.subscription-modified .section-title {
  color: #FFFFFF;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.email-field {
  border: none;
  width: 452px;
  padding-right: 10px;
  padding-left: 20px;
  height: 52px;
  font-family: inherit;
  line-height: 24px;
  font-weight: 400;
  background-color:#F2F2F2;
  border-radius: 4px 0 0 4px;
}


.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list-link {
  display: block;
  width: 48px;
  height: 40px;
}

.social-list-vk {
  background: url("../images/icon-vk.svg") center no-repeat;
}

.social-list-telegramm {
  background: url(../images/icon-telegram.svg) center no-repeat;
}

.social-list-youtube {
  background: url("../images/icon-youtube.svg") center no-repeat;
}

.footer-telephone-link {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.footer-logo {
  display: inline-block;
}

.header-filter-wrap {
  min-height: 412px;
  background: url('../images/catalog-filter-background.jpg') center no-repeat;
  background-size: cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #FFFFFF;
}

/*Гостиницы */

.header-filter-wrap {
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  gap: 29px;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;
  background: url("../images/icon-home.svg") center no-repeat;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  gap: 70px;
}

.range-buttons-wrapper {
  display: flex;
  max-width: 549px;
  gap: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  line-height: 23px;
  font-weight: 400;
}

.control-input {
  margin: 0;
  margin-right: 16px;
}

.catalog-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-result {
  max-width: 375px;
  margin-right: auto;
}

.catalog-sorting {
  width: 252px;
  padding: 14px 20px;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-display {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.display-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-button-active {
  border-color: #000;
}

.display-cards {
  background: url("../images/icon-display-cards.svg") center no-repeat;
}

.display-slider {
  background: url("../images/icon-display-slider.svg") center no-repeat;
}

.display-list {
  background: url("../images/icon-display-list.svg") center no-repeat;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content 1fr;
  align-items: center;
  row-gap: 16px;
  column-gap: 20px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  display: block;
  color: #000000;
  text-decoration: none;
}

.hotel-card-link-image {
  height: 212px;
}

.hotel-card-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hotel-price {
  justify-self: end;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.star-rating {
  display: flex;
  gap: 6px;
}

.star-image {
  display: inline-block;
  align-items: center;
  width: 18px;
  height: 37px;
  background: url("../images/icon-star.svg") center no-repeat;
}

.hotel-card-rating {
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 10px;
}

.pagination-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 8px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
