@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Создают "стакан" и "липкий" футер */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  height: 100%;
}

/* Задает ширину и центрирует body, main, footer */

.page-container {
  display: flex;
  width: 1200px;
  min-height: 100%;
  margin: auto;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Прижимает footer вниз страницы  внезависимости от размера контента внутри секции main */

.main-container {
  flex-grow: 1;
}

/* Стили кнопок */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  border: 0;
  padding: 8px 34px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.apply-button {
  background-color: #82B3D3;
  padding: 8px 50px;
}

.reset-button {
  background-color: transparent;
  padding: 8px 58px;
}

.more-button {
  text-decoration: none;
  padding: 8px 26px;
}

.favorites-button {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.favorites-added-button {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: 0;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* Главная */

.page-header {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.header-logo {
  margin-right: 28px;
}

.navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 590px;
}

.navigation-user {
  width: 268px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


.hero {
  min-height: 485px;
  background: url("../images/hero-background-divider.svg") center bottom no-repeat, url("../images/hero-background.jpg") center no-repeat;
  background-size: 100% auto, cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #000000;
  text-align: center;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.content-columns {
  width: 400px;
  min-height: 385px;
  padding: 50px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-modified {
  display: flex;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-modified {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-modified .advantages-item-title {
  color: #FFFFFF;
  margin: 0;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.features-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.features-item {
  width: 400px;
  min-height: 385px;
  padding: 0 85px;
}

.features-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.subscription {
  min-height: 415px;
  text-align: center;
}

.subscription-modified {
  background: url("../images/subscribe-background.jpg") center no-repeat;
  background-size: cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #FFFFFF;
}

.subscription-modified .section-title {
  color: #FFFFFF;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
  align-items: center;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-telephone-link {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.footer-logo {
  display: inline-block;
}

.header-filter-wrap {
  min-height: 412px;
  background: url('../images/catalog-filter-background.jpg') center no-repeat;
  background-size: cover;
  background-color: rgba(56, 155, 221, 0.3);
  color: #FFFFFF;
}

/*Гостиницы */

.header-filter-wrap {
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
}

.control {
  line-height: 23px;
  font-weight: 400;
}

.catalog-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-container {
  display: flex;
  align-items: center;
}

.catalog-display {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card {
  width: 340px;
  min-height: 438px;

}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-pagination {
  display: flex;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
